* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-image: url(./assets/R.jpeg);
    background-repeat:repeat;
    background-size: cover;
    background-position: center center;
}

.logo {
    width: 150px;
    display: block;
    margin: 20px auto;
}

main {
    Width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 35px 24px 23px;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}
 
select,
input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
}

input {
    cursor: auto;
}

button {
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    border: none;
    width: 327px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color: #555555;
    font-size: 20px;
    font-weight: 701;
}

